.main
  .main-inner
    .container
      .content
        .row
          .col-sm-6.col-sm-offset-4
            .page-title
              %h1
                Register
            -#=render 'shared/messages'
            %form
              .form-group
                %label{for: "email"}
                  Email
                %input{class: "form-control", name: "email", id: "email"}
              .form-group
                %label{for: "firstname"}
                  Firstname
                %input{class: "form-control", name: "firstname", id: "firstname"}
              .form-group
                %label{for: "lastname"}
                  Last name
                %input{class: "form-control", name: "lastname", id: "lastname"}
              .form-group
                %label{for: "password"}
                  Password
                %input{class: "form-control", name: "password", id: "password", type: "password"}
              %button.btn.btn-primary.pull-right
                Register