- unless flash.blank?
  - flash.each do |name, msg|
    .alert.alert-dismissable{class: (name == 'notice' ? "alert-success" : "alert-danger"), role: "alert" }
      %button.close{data:{dismiss:"alert"}, aria: {label: "Close"}}
        %i.fa.fa-times{aria:{hidden: "true"}}
      %strong
        = msg