.main
  .main-inner
    .content
      .container
        .row
          .col-sm-8.com-sm-offset-2.col-xs-12.col-xs-offset-0
            .input-group
              %input.form-control{placeholder:"Search for companies"}
              %span.input-group-btn
                %button.btn.btn-primary
                  Search
      .container
        %h2.page-title
          Recently Added Companies
        .cards-row
          - @companies.each do |company|
            .card-row
              .card-row-inner
                .card-row-image{"data-background-image" => image_path("product-1.jpg")}
                  .card-row-label
                    =link_to "Comapny Name", nil
                .card-row-body
                  %h2.card-row-title
                    = company.name
                  .card-row-content
                    %p
                      = company.description
                .card-row-properties
                  %dl
                    %dd
                      Category:
                    %dt
                      company.category_name
                    %dd
                      Location:
                    %dt
                      = company.city
                    %dd
                      Reviews:
                    %dt
                      (10)
