.main
  .main-inner
    .content
      .container    
        .block.background-white.fullwidth
          .page-header
            %h1
              Recent reviews
            %p
              Read what other users are saying about our companies.
          .row
            .col-sm-6
              .testimonial
                .testimonial-image
                  =image_tag "agent-2.jpg", alt: "Full name"
                .testimonial-inner
                  .testimonial-title
                    %h2
                      =link_to "Company Name", nil
                  Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
                  .testimonial-sign
                    =link_to "- Full name", nil
            .col-sm-6
              .testimonial
                .testimonial-image
                  =image_tag "agent-3.jpg", alt: "Full name"
                .testimonial-inner
                  .testimonial-title
                    %h2
                      =link_to "Company Name", nil
                  Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
                  .testimonial-sign
                    =link_to "- Full name", nil
            .col-sm-6
              .testimonial
                .testimonial-image
                  =image_tag "agent-4.jpg", alt: "Full name"
                .testimonial-inner
                  .testimonial-title
                    %h2
                      =link_to "Company Name", nil
                  Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
                  .testimonial-sign
                    =link_to "- Full name", nil
            .col-sm-6
              .testimonial
                .testimonial-image
                  =image_tag "agent-5.jpg", alt: "Full name"
                .testimonial-inner
                  .testimonial-title
                    %h2
                      =link_to "Company Name", nil
                  Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
                  .testimonial-sign
                    =link_to "- Full name", nil
            .col-sm-6
              .testimonial
                .testimonial-image
                  =image_tag "agent-1.jpg", alt: "Full name"
                .testimonial-inner
                  .testimonial-title
                    %h2
                      =link_to "Company Name", nil
                  Quisque aliquet ornare nunc in viverra. Nullam ornare molestie ligula in luctus. Suspendisse ac cursus elit. Donec vel enim sit amet lorem vulputate condimentum.
                  .testimonial-sign
                    =link_to "- Full name", nil