!!! 5
%html(lang="en-US")
  %head
    %title YP - local search
    %meta(charset="UTF-8")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = csrf_meta_tag
    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Nunito:300,400,700", "application"
    = javascript_include_tag "application"
  %body
    .page-wrapper
      = render 'shared/header'
      =yield